body, html{
  height:100%;
}
body{
  background-image: url(img/background/diva.jpg);
  background-size: 100% 100%;
  margin: 0px;
  background-color: black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #fbe2e5;
}
img {
  height: 150px;
}
img:hover {
  transform: scale(1.5);
  border: pink;
  border-width: 10px;
}
.gap{
  height: 50vh;
  width: 100%;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #440047;
}
.title{
  position: absolute;
  left: 0;
  background-color: black;
}
.dancer{
  border:10px solid skyblue;
  border-radius:10px;
  position: absolute;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.dancefloor{
  position: sticky;
}