body, html{
  height:100%;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-image: url(img/background/nightclub.jpg);
  background-size: 100% 100%;
  margin: 0px;
  background-color: black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #fbe2e5;
}
img {
  height: 150px;
  position: relative;
  margin: 10px;
}
img:hover {
  transform: scale(1.5);
  border: dotted yellow;
  border-width: 15px;
}
.addDancerButton{
  margin: 10px 5px 5px 0px;
  border-radius: 5px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.gap{
  height: 0px;
  width: 100%;
}
.lineup-btn {
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  /* text-align: center; */
}
.title{
  padding:5px 12px;
  float:right;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 7px;
  margin-left: 25px;
}
.topbar{
  height:60px;
  background-color: #440047;
  text-align: right;
}
.title{
  position: absolute;
  left: 0;
  background-color: black;
}
.dancefloor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;s
}
.dancespace{
  height: 60vh;
  width: 100vw;
}
footer{
  position: fixed;
  display: inline;
  width: 100%;
  bottom: 5px;
  left: 5px;
  height: 50px;
}